<div class="container-fluid" style="background-color: lightgrey;">
    <div class="container" >
        <div class="row row-cols-1 row-cols-lg-1 g-2 g-lg-3" >
          <div class="col">
            <div class="p-3  bg-black">
                <h4>
                    <!-- <img src="http://clipart-library.com/images_k/chef-hat-transparent-png/chef-hat-transparent-png-12.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"> -->
                    Chef Point
                </h4>
            </div>
          </div>
        </div>

        <div class="row row-cols-1 row-cols-lg-5" >
            
            <div class="col" >
                <h5>Company</h5>
                <a href="#" class="dropdown-item"> About</a>
                <a href="#" class="dropdown-item">Blog</a>
                <a href="#" class="dropdown-item">Careers</a>
                <a href="#" class="dropdown-item">Report Fraud</a>
                <a href="#" class="dropdown-item">Contact</a>
            </div>
            <div class="col">
                <h5>For Caterers</h5>
                <a href="#" class="dropdown-item">Become an Affiliated</a>
                <a href="#" class="dropdown-item">Advertise your Brand</a>
                <a href="#" class="dropdown-item">Complains</a>
                <a href="#" class="dropdown-item">Help</a>
            </div>
            <div class="col">
                <h5>For You</h5>
                <a href="#" class="dropdown-item">Terms</a>
                <a href="#" class="dropdown-item">Privacy</a>
                <a href="#" class="dropdown-item">Security</a>
                <a href="#" class="dropdown-item">Map</a>
        
            </div>
            <div class="col">
                <h5>Socail Media</h5>
                <a href="#" class="dropdown-item px-5"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="#" class="dropdown-item px-5"><ion-icon name="logo-twitter"></ion-icon></a>
                <a href="#" class="dropdown-item px-5"><ion-icon name="logo-instagram"></ion-icon></a>
            </div>
            <div class="col">
                <h5>Mobile Apps</h5>
                <a href="#" class="dropdown-item px-5"><ion-icon name="logo-android"></ion-icon></a>
                <a href="#" class="dropdown-item px-5"><ion-icon name="logo-apple"></ion-icon></a>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-lg-1 g-2 g-lg-3" >
            <div class="col border-top pt-3 pd-2">
              <p>By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. 2020 © Creative Arts Media Pvt Ltd. All rights reserved.</p>
            </div>
        </div>
        
      </div>
</div>

<!-- Bootstrap cdn link -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>     
<!-- https://ionicons.com/ cdn links -->
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>
</html>