<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
            <img src="/logo/logo1.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            Chef Point
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          
          <!-- Cuisin end -->
          <li class="nav-item dropdown  menu-area">
            <a class="nav-link dropdown-toggle" href="#" id="mega-one" role="button" data-toggle="dropdown" aria-expanded="false">
                Cuisines
            </a>
            <div class="dropdown-menu mega-area" aria-labelledby="mega-one">
              <div class="row">
                    <div class="col-sm-4 col-lg-2">
                        <h5>Indian</h5>
                        <a href="#" class="dropdown-item">Odisha</a>
                        <a href="#" class="dropdown-item">North</a>
                        <a href="#" class="dropdown-item">South</a>
                        <a href="#" class="dropdown-item">Kashmiri</a>
                        <a href="#" class="dropdown-item">Jain</a>
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>France</h5>
                        <a href="#" class="dropdown-item">France dish1</a>
                        <a href="#" class="dropdown-item">France dish2</a>
                        <a href="#" class="dropdown-item">France dish3</a>
                        <a href="#" class="dropdown-item">France dish4</a>
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>Food Paradise</h5>
                        <p>Here we can find all kinds of food</p>
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>Image</h5>
                        <img src="/image/image3.jpg" style="width: 90%;">
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>American</h5>
                        <a href="#" class="dropdown-item">American Pasta</a>
                        <a href="#" class="dropdown-item">American Roll</a>
                        <a href="#" class="dropdown-item">American pasta</a>
                        <a href="#" class="dropdown-item">American Corn</a>
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>Image</h5>
                        <img src="/image/image4.jpg" style="width: 90%;">
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>Italian</h5>
                        <a href="#" class="dropdown-item">Italian Pasta</a>
                        <a href="#" class="dropdown-item">Italian Magie</a>
                        <a href="#" class="dropdown-item">Italian Sauce</a>
                        <a href="#" class="dropdown-item">Italian Corn</a>
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>Russian</h5>
                        <a href="#" class="dropdown-item">Russian Vodka</a>
                        <a href="#" class="dropdown-item">Russian Snacks</a>
                        <a href="#" class="dropdown-item">Russian Barbique</a>
                        <a href="#" class="dropdown-item">Russian Roll</a>
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>Food Paradise</h5>
                        <p>Here we can find all kinds of food</p>
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>Image</h5>
                        <img src="/image/image2.jpg" style="width: 90%;">
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>Arab</h5>
                        <a href="#" class="dropdown-item">Arab Kabab</a>
                        <a href="#" class="dropdown-item">Arab Hamus</a>
                        <a href="#" class="dropdown-item">Arab Biryani</a>
                        <a href="#" class="dropdown-item">Arab Chai</a>
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>Image</h5>
                        <img src="/image/image1.jpg" style="width: 90%;">
                    </div>
              </div>
            </div>
          </li>
          <!-- Cuisin end -->

          <!-- caterers List start -->
          <li class="nav-item dropdown  menu-area">
            <a class="nav-link dropdown-toggle" href="#" id="mega-one" role="button" data-toggle="dropdown" aria-expanded="false">
                Caterers
            </a>
            <div class="dropdown-menu mega-area" aria-labelledby="mega-one">
              <div class="row">
                    <div class="col-sm-4 col-lg-2">
                        <h5>Indian</h5>
                        <a href="#" class="dropdown-item">Odisha</a>
                        <a href="#" class="dropdown-item">North</a>
                        <a href="#" class="dropdown-item">South</a>
                        <a href="#" class="dropdown-item">Kashmiri</a>
                        <a href="#" class="dropdown-item">Jain</a>
                    </div> 
                    <div class="col-sm-4 col-lg-2">
                        <h5>Food Paradise</h5>
                        <p>Here we can find all kinds of food</p>
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>Image</h5>
                        <img src="/image/image10.jpg" style="width: 90%;">
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>American</h5>
                        <a href="#" class="dropdown-item">American Pasta</a>
                        <a href="#" class="dropdown-item">American Roll</a>
                        <a href="#" class="dropdown-item">American pasta</a>
                        <a href="#" class="dropdown-item">American Corn</a>
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>France</h5>
                        <a href="#" class="dropdown-item">France dish1</a>
                        <a href="#" class="dropdown-item">France dish2</a>
                        <a href="#" class="dropdown-item">France dish3</a>
                        <a href="#" class="dropdown-item">France dish4</a>
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>Image</h5>
                        <img src="/image/image13.jpg" style="width: 90%;">
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>Italian</h5>
                        <a href="#" class="dropdown-item">Italian Pasta</a>
                        <a href="#" class="dropdown-item">Italian Magie</a>
                        <a href="#" class="dropdown-item">Italian Sauce</a>
                        <a href="#" class="dropdown-item">Italian Corn</a>
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>Russian</h5>
                        <a href="#" class="dropdown-item">Russian Vodka</a>
                        <a href="#" class="dropdown-item">Russian Snacks</a>
                        <a href="#" class="dropdown-item">Russian Barbique</a>
                        <a href="#" class="dropdown-item">Russian Roll</a>
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>Food Paradise</h5>
                        <p>Here we can find all kinds of food</p>
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>Image</h5>
                        <img src="/image/image21.jpg" style="width: 90%;">
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>Arab</h5>
                        <a href="#" class="dropdown-item">Arab Kabab</a>
                        <a href="#" class="dropdown-item">Arab Hamus</a>
                        <a href="#" class="dropdown-item">Arab Biryani</a>
                        <a href="#" class="dropdown-item">Arab Chai</a>
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h5>Image</h5>
                        <img src="/image/image15.jpg" style="width: 90%;">
                    </div>
              </div>
            </div>
          </li>
          <!-- caterers List end -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contact Us</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>